button{
    background-color: blanchedalmond;
}

mat-dialog-content{
    text-align: center;
}

mat-dialog-actions{
    display: block;
    margin-top: 10px;
    text-align: center;
}

.click-a {
    text-decoration-line: underline;
    font-weight: bold;
    cursor: pointer;
}