<app-search-home></app-search-home>

<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
        <h2 *ngIf="!_authService.isAdmin"> My Cart
            <mat-icon>shopping_cart</mat-icon>
        </h2>
        <app-cart></app-cart>
    </mat-sidenav>
    <mat-sidenav-content>
        <span class="cart-btn" *ngIf="!opened" (click)="opened=!opened">
            <mat-icon>arrow_forward</mat-icon>
            <span *ngIf="!_authService.isAdmin"> My cart</span> <span *ngIf="_authService.isAdmin"> Add & Edit</span>

        </span>
        <span class="cart-btn" (click)="opened=!opened" *ngIf="opened">
            <mat-icon>arrow_back</mat-icon> minimize
        </span>
        <app-products-page></app-products-page>
    </mat-sidenav-content>
</mat-sidenav-container>