.content-container{
    display: flex;
    text-align: center;
}

.app {
    flex-grow: 1;
    border: rgb(117, 34, 34) solid 2px;
    background-color: blanchedalmond;
    margin: 10px;
    padding: 15px;
    opacity: 0.95;
}



/** MEDIA QUERIES **/

@media screen and (min-width: 1420px) {
    .app{
        margin-top: 7vh;
    }
  }

  @media screen and (max-width: 768px) {
    
    .content-container {
       flex-direction: column;
    }
    
    .app {
        width: 700px;
        height: auto; 
    }

  }

  @media screen and (max-width: 425px) {
    
    .content-container {
       flex-direction: column;
    }
    
    .app {
        width: 365px;
        height: auto; 
    }

  }

  @media screen and (max-width: 375px) {
    
    .content-container {
       flex-direction: column;
    }
    
    .app {
        width: 325px;
        height: auto; 
    }

  }